.row {
    display: flex;
}

.data_tables {
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
    overflow: auto;
    width: 500px;
}

.middle_column {
    overflow: clip;
    height: 100vh;
    width: 100%;
}
